<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
 
        <!-- Connection settings local -->
<!--         <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/shop</property>
        <property name="hibernate.connection.username">mitry</property>
        <property name="hibernate.connection.password">111</property> -->
       
       
        <!-- Connection settings heroku -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">ec2-3-248-103-75.eu-west-1.compute.amazonaws.com:5432/dbbqlbe7i7a0s3</property>
        <property name="hibernate.connection.username">ymnktrwgnutrqx</property>
        <property name="hibernate.connection.password">dc0b5cdd70c1f769441aae6b71dbf87890345b9cd2c3fd2288af78242a341f75</property>
        
        
 
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>
 
        <!-- Update database on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
 
        <!-- Annotated entity classes -->
        <mapping class="de.mariasin.shop.entity.User"/>
        <mapping class="de.mariasin.shop.entity.Image"/>
        <mapping class="de.mariasin.shop.entity.Image"/>
        
    </session-factory>
</hibernate-configuration>